# 服务器配置
server:
  port: 8088

# 数据库配置
spring:
  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://192.168.64.128:3306/aimatch?useSSL=false&serverTimezone=UTC
#    username: root
#    password: wk18477948wk
    url: jdbc:mysql://47.100.99.68:3306/aimatch?useSSL=false&serverTimezone=UTC
    username: root
    password: 9e2aa8929e516ab0
  mvc:
    pathmatch:
      matching-strategy : ant_path_matcher
  # Redis配置
  redis:
    host: 192.168.64.128
    port: 6379
  # Jackson配置
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss  # 设置日期格式
    time-zone: GMT+8  # 设置时区
    serialization:
      write-dates-as-timestamps: false  # 禁止将日期序列化为时间戳，使用上面配置的格式
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

# MyBatis配置
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.entity
  configuration :
    lazy-loading-enabled: true
    aggressive-lazy-loading: false


# Sa-Token配置
sa-token:
  token-name: Authorization
  timeout: 3600
  auto-renew: false
  is-concurrent: true
  is-share: false

deepseek:
  api-url: https://api.deepseek.com/v1/chat/completions
  api-key: sk-27e9e6d367824b3aae4783c1f58d792c

upload:
  resumeFilePath: D:\指标建设\AIMatch\aimatch\upload

wx:
  pay:
    appId: wxf7caeaeaea9111bd
    mchId: 1730417035
    mchKey: qBtkGZykt55RKAMm3wqsd7TCo6UXoJnw
    notifyUrl: https://tidalwave.cn:8089/v1/payment/wx/notify
    sandbox: false

#alipay:
#  appId: 9021000156662445      # 支付宝appid(沙箱)
#  privateKey: MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCQBLM2pBshrz/zYkg/yMiZ6ufIV/IYCkYbtXO4xPixM9oNg6lQtcnMGflR6mXVv6Yc84MExfeoobmiZ8JDPSumL9wjgiiE/fANHAhABRYbAsiI/gL1oYG+wI0hEt3f1FoA6EskXYACj8rJGWF3PY+NW3lf7kurHTY7ExOobweVGN4n2CE1TB55eYhkmeEU0ufr2OFDYCPTEJxNU2j/85mAqFQkJ6XH2939wgBJy0oxhzbTJdKj3qt1atyUwaKaPtqkghe7ga8ar13iWD8Qfw4g4aNQRP/Dj8D9teDA2DI3Q0CIuv8iUO7ouxR0rrDraLdItwIxPeWutA1It+RZf0ypAgMBAAECggEAXRocvQMj4wfHIND1gf6L6CzawEJSaEYkAn+wGs+DMhMiMMBfsaSDmyVjbxhH0wG9IlQt6+UK8IH0XtAS3qLp19pyxqW7Chabm+32S2S+YKHQ//at9Rr+pFEYKzxmIO/Ha3TANvcW7REF+DEnOA2dArYS5fhIBIuy5kez2pxEW5aqbSnca3J91Y+kIpCP+k/RfoIjlMHHHW0XoWIdJKQt7Euf8O6vFctPQh4wyvdpa9ytHV6hFQlyabaY3s25gPU3KiNGXLFeObsMcBTf/ALaV8EEA3xUOo3DaltmAam25NQH6XcOtVU9u8iGuYoAZ3W2H4zrLnrGOgp/e8HujfssAQKBgQDIylN7jLQ6uMH+WJsakh9KZtt8DQyrsXPK4LnRN82pg4gH4kuQzPdJUPa7XbVHetTVfNhc9E1nvSK3ZwSD/GVvMZlpgE3KdyNye2+Bm0vSo10iOoFxX92TidXoVx1Qe4HWQmW74Wp972ZGY8jhZUIeVPpt5S/OsAeqEIAMVRigKQKBgQC3ni6+iI6NaX3RUnz2YrO8wcXe8BGF2jnXsw5tIsI3NtQBLsF6HAVtWSPJE0/v5uJ43bihuBWGVjaFnp633em1mwcuB27G9TJF3NA4LjC8Fn3p0MmR9hL6RDN/s+1CoG6ccrofPogmDbkR8kUtxW0uhN0Z72/SbrCVeqPhd9TYgQKBgQC2kfGSl3+RHUmXQW3WnSLCff/4Lc1lmDaXM/sBV2IzThu0P3lCMnxvN6UA/NXGJtO7QodhDeoL95fHd25NrIN2tXyuxzD0dZvPjpj3GgO5hT070EK+mdJZQq0zU3KeKY8HCNyEFxTDaZhvTG/tMisKdW432nq7zqdJZTNpAz8e8QKBgFJ1R/qqqpHY2PbCu3mOM7dFsc1/M+9PZAB42barEFrpVWW+kIZ8xPcpO8fV02Uh43xx3bNKTuhIGS4CYLajgovateu2zMmuXUhAdIV2QM6Grz7sU0koH7eiHxpvO9Ja57F8WBcl5tBoAz+K9AQtD+3/HqfB/g6bRNOsAqKDROOBAoGAJO5mTKdJV48j0P0GVR7r3EQXAEIwaMgkLjBMfJCQHi1+8o4oSh/+3xpMCBgMcMAs/FaGFe8Ps+AS9V0Z3KY71YRYHbQ7xErDK0kYnGxEK1sTYNDN4ej5Y3KNB3sg7QtUWDqGB/2yZKg/0GqNIliT8YOUjovK487EiYIVkb5MWwE=
#  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2XhN26t5rmSpfwzmSB53zCwuqNEd8qxzaNKE7CX02NHK/YLuXaiXtbHhdm8AxNwTaBy4yWmyCz0jAO5lJ3vGYW/Ox08PRNQQ40tegLa96rI1raoObkWHwtxlUwZYjq2NhkJX3eReoABYcp+ff2hwuiPqrG4bFPB0iryMBdwU3wExKDVJQl0/YvC0tUEHzp38WXBF0dJ700OFDV8GISM+KHMhf46UnshFK+TyBaNrzJ3Apytb2ztIB5FrMWGxUqV6Nqc6U/QZxV5k8W2v2RB28BtM3719kVluJPUiigeqvxPm3lHvUOvPeRQqnRvoXUHR1YRwk2TVzjIHj65woQWSZwIDAQAB/YLuXaiXtbHhdm8AxNwTaBy4yWmyCz0jAO5lJ3vGYW/Ox08PRNQQ40tegLa96rI1raoObkWHwtxlUwZYjq2NhkJX3eReoABYcp+ff2hwuiPqrG4bFPB0iryMBdwU3wExKDVJQl0/YvC0tUEHzp38WXBF0dJ700OFDV8GISM+KHMhf46UnshFK+TyBaNrzJ3Apytb2ztIB5FrMWGxUqV6Nqc6U/QZxV5k8W2v2RB28BtM3719kVluJPUiigeqvxPm3lHvUOvPeRQqnRvoXUHR1YRwk2TVzjIHj65woQWSZwIDAQAB
##  notifyUrl: http://112.124.5.159:8088/v1/payment/alipay/notify
#  notifyUrl: http://1eeeda39.r27.cpolar.top/v1/payment/alipay/notify
#  sandbox: true
alipay:
  appId: 2021006103669045
  privateKey: MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC9rtHIIUFQwc1cIUkPAf6BXey9/hKEAjym4nohd4ySQiQzmI4/WPWjHzVq00hGjz/9Tc9YZGyUtGh9+aG8SiroqJPSUDVv1bAIbKQ6gNTp7U59i1G22zss7mHsLRN/iuKjbtptR23kkcJL4STW91j+nyID/aQHMSeUF9uBPjiYYxHmxXH6cht0K+0UeuFAFobl1ziD0Be5Ku2NipdYVVbhJ9IuZkavK29y3HTVgpXmEBVvFx7qiDBvj5FZ+O4ZyBvj7oCQwLnTEQDsRCBgKyvcr//qm87r1yRexk6MBPOexLOrxZLGGib6O0adniSG04JotN7Zv9ihvZMJgJHCWFybAgMBAAECggEAbIzcLvyhBVczb9L4nWcVv/EBZ6U78WHaVeLr47UntBe34fMfDK+bOzPD/RNWnFKkWxCpZTtrTBqGZflzDm8faS/4EHaobgzLBbcusPBDaG/O6FfPdqa1kbwGPAN70hSoKMFqrPkgsZqcp5H75C1/N4/YBpKjyR3fOYgBrU/vUXz8QOSd553woprrQu5lAvWtg5HBWnsKXuO7giRtEuVapwWuFt5o0EBMqabqLOIfPmzvLiQdNIaeJb5ekNOU8M2AI2EzbN+8a7rTAIMmgoOIg6h1eUKQGdM+Q2rSAsSH3aP7Clgw2wCWpRRpxVuMS8L3B3ahUV19tMJhqyjX7anWkQKBgQDkro3WBZJWjnEfuf8EVqa8wQphhax9P9JCRgpgG5fIvGq3HXhywcNcTeYsrAWB85zq85kYCMz0CbrxMg7VZhqB1fxeInRxo/Ix5KPhiqZXNR31LSE1qPSZsko21HQLWFaFEpX+CYXXEOdmaFlqxH26j6TdVi5A1A0bK7HAsY7oSQKBgQDUV53Yxb5JfaWTMTQ6HXp2PWe5PNZ5L232c8QtqJWgrgCcmEKH5Ai0tdryJu8IdmB6zrB+gW9QtXFSiDYRmbd+IZFMf1q8phW0ea0uGz5hwVu9/kaLAaYZWRnJAVeKElnWLOFICMdwgbZWn3RfLCHtQ4azUy6nNR6SU4H6gFQFwwKBgQCMBjoBH75AU83+0EPPo0NLdqRlnJVGyAp13C9ENAEXwA9T+q6jDfQSk/xpxBdHQCUIVIqchd8BWufmAnHEx1VZxO5XsZ89albFqCuU0fISmgqy8qRQGBlV9y6sLiC0Ra4Mo5nGSIx0aPxX33NJBfG6h3Q6tydxOKahyXp48//+SQKBgH7Ciy1D5rOSeUxkPCxROrDpOUlAgzw2zysnsr4a/K++EAlrb5QV0gim4zxZd6qSmEfXqU7rz9rbZfoB7F0XaY23VjjXcgBaGWzykiqLAvNybWT/LXeAFXreUOFIlsyK5exQQHAzJXQJSyNs7xh9jQdJn1jf2GLi+AwcI+S5xO7nAoGAM7rHjN1ipfUOAy3pLSR2iuJx1yw1VkwqVDpjDeIY0hLWlvx9r7HrzJiGFiq7s0qdpDnlWs1l4tTqcYJk5uL1QYTS6vBo6EYxUcA+llQocRXxffvI/iRcJBdHRK3sLbDLE1VwDcsqURl4st5VSJ+tHpU5MMKnCwLdjmJjAn2V96o=
  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhCd3e7yBeOZKMQ7CJldEtabi91Hvcx1DbaHSFUJ+xr2ldMm7MMYVg96BKnEECAV6M9vBARp6uL4HqZA+S4UfhC2aCunnRiUXlvRSpKbwquNMC7rrgwk51UEZR0v3Ud6s+R3d5D9TDjOSlMFIURPt0L0HqgbwiRs0rjF8kKuefgyLsdzt7aH6verkoJ3pRoRMKnVQEshPXH6ThHmafG/V13o9XDPynBlAfrbitnBt3aWqmqZeJz4H5Ro5ZGY0NDiQTjCWzVuQfik7X1DcTu9jpAkRpEvwmRkCXhraEI02zZkR+Ial5Tuc1NxP7SWt/+iB9mDs7FTB9pwO/9nrG/ekmQIDAQAB
  notifyUrl: https://tidalwave.cn:8089/v1/payment/alipay/notify
  sandbox: false

