<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.TEmployee">
    <!--@mbg.generated-->
    <!--@Table t_employee-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="identity" jdbcType="INTEGER" property="identity" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="residentia_address" jdbcType="VARCHAR" property="residentiaAddress" />
    <result column="start_work_date" jdbcType="TIMESTAMP" property="startWorkDate" />
    <result column="work_experience" jdbcType="INTEGER" property="workExperience" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, `name`, gender, `identity`, birth_date, age, residentia_address, start_work_date, 
    work_experience, mobile, mail
  </sql>
</mapper>