<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TImMessageMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.TImMessage">
    <!--@mbg.generated-->
    <!--@Table t_im_message-->
    <result column="position_id" jdbcType="VARCHAR" property="positionId" />
    <result column="resume_id" jdbcType="VARCHAR" property="resumeId" />
    <result column="message_index" jdbcType="INTEGER" property="messageIndex" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    position_id, resume_id, `index`, user_id, user_type, message, create_time
  </sql>
</mapper>