<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.TUser">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="LONGVARCHAR" property="avatar" />
  </resultMap>

  <resultMap id="BaseResultEmployeeMap" type="com.example.entity.TUser">
    <result column="employee_user_type" jdbcType="VARCHAR" property="userType" />
    <result column="employee_account" jdbcType="VARCHAR" property="account" />
    <result column="employee_avatar" jdbcType="LONGVARCHAR" property="avatar" />
  </resultMap>

   <resultMap id="BaseResultHrMap" type="com.example.entity.TUser">
    <result column="hr_user_type" jdbcType="VARCHAR" property="userType" />
    <result column="hr_account" jdbcType="VARCHAR" property="account" />
    <result column="hr_avatar" jdbcType="LONGVARCHAR" property="avatar" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, user_type, account, `password`, avatar
  </sql>
</mapper>